<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subject Selection</title>
    <link rel="stylesheet" href="css/course.css" />
  </head>
  <body>

    <div class="container">

      <h2>Select a Subject</h2>
      <select id="subjectSelect" onchange="showSubjects()">
        <option value="">Select Subject</option>
        <option value="Computer Science">BSc Computer Science</option>
        <option value="Physics">BSc Physics</option>
        <option value="Mathematics">BSc Mathematics</option>
        <option value="Environmental Science">BSc Environmental Science</option>
      </select>
      <div id="subjectTable"></div>
    </div>
    <script src="/js/alert.js"></script>
  </body>
</html>