# Your email (optional)
email=keniflora002@gmail.com

# Set the custom registry for your Nexus repository
registry=http://65.2.186.152:8081/repository/nodejs-repo/

# Authentication settings for the Nexus registry
//65.2.186.152:8081/repository/nodejs-repo/:username=admin
//65.2.186.152:8081/repository/nodejs-repo/:_password=UmVnaW5AMjAwMQ==  # Ensure this is correct

# Always authenticate for this registry
always-auth=true
